:root {
  --blue: #0073b1;
  --blueHover: #006097;
}

.app {
  background-color: #f3f2ef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__body {
  display: flex;
  margin: 35px 20px 0px 20px;
  max-width: 1400px;
}
